<template>
  <div class="farm-card">
    <div class="card-container">
      <div class="image-container" />
      <div class="header">
        <label class="title">Orange Farm</label>
        <label class="sub-title">sub-title</label>
      </div>
      <div class="body">
        <div v-for="(item, index) in key" :key="index" class="body-container">
          <label class="title">{{ item }} : </label>
          <label class="sub-title">Orange Farm</label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      key: [
        'ผลไม้',
        'สายพันธุ์',
        'พื้นที่ (ไร่)',
        'จำนวน (ต้น)',
        'ออก (ต้น)',
        'วันที่เก็บเกี่ยว'
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.farm-card {
  @media only screen and (max-width: 768px) {
    flex-basis: 100%;
  }
  flex-basis: 33.33%;
}
.card-container {
  &:nth-child(n) {
    margin: 5px 5px;
  }
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin: 10px 0;
  padding: 0 10px;
}
.image-container {
  padding-top: 75%;
  margin: 15px 5px;
  background-color: #e1e1e1;
}
.header {
  margin: 0 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  .title {
    font-size: 18px;
    font-weight: 500;
    color: #FF9300;
  }
  .sub-title {
    font-size: 14px;
    font-weight: 500;
    color: #424242;
    margin-top: -5px;
  }
}
.body {
  margin: 0 10px;
  margin-bottom: 15px;
  .body-container {
    margin-top: -7px;
    .title {
      font-size: 14px;
      font-weight: 500;
      color: #424242;
    }
    .sub-title {
      font-size: 14px;
      color: #424242;
    }
  }
}
</style>
