<template>
  <div class="account-page">
    <base-header />
    <base-container>
      <a-row :gutter="30">
        <a-col :span="24" :lg="{ span: 5 }">
          <account-panel :user="user" />
        </a-col>
        <a-col class="pd-t-15px-max-lg" :span="24" :lg="{ span: 19 }">
          <nuxt />
        </a-col>
      </a-row>
    </base-container>
    <loading-modal v-if="$wait.is('base loading')" />
  </div>
</template>

<script>
import { get } from 'vuex-pathify'
import AccountPanel from '~/components/account/AccountPanel.vue'
import BaseHeader from '~/components/base-header'
import LoadingModal from '~/components/loading-modal.vue'

export default {
  name: 'AccountLayout',
  components: {
    AccountPanel,
    BaseHeader,
    LoadingModal
  },
  computed: {
    ...get('auth', {
      user: 'user'
    })
  }
}
</script>

<style lang="less" scoped>
.account-page {
  background-color: #e7e7e7;
  min-height: 100%;
  padding-top: 80px;
}
.pd-t-15px-max-lg {
  @media only screen and (max-width: 991px) {
    padding-top: 15px;
  }
}
</style>
