<template>
  <div class="auction">
    <base-container>
      <div class="card-container">
        <a-row :gutter="16">
          <a-col class="mg-bt-16px-xs" :md="{ span: 14 }">
            <div class="card-graph card">
              <!-- <bar-chart
                :styles="{height: '100%', position: 'relative'}"
                :labels="chartData.labels"
                :data-list="chartData.dataList"
              /> -->
              <div class="logo-title">
                เหมาเหมา
              </div>
            </div>
          </a-col>
          <a-col :md="{ span: 10}">
            <div class="content-container">
              <div class="card1">
                <div class="card-content card">
                  <div class="text-content" style="margin-bottom: 10px; font-weight: 500">
                    <span>ข้อมูลภาครวมทั้งหมด</span>
                  </div>
                  <div class="text-content">
                    <span class="align-left">มูลค่าการประมูลรวม</span>
                    <span class="align-right">{{ systemDailySummary && systemDailySummary.sum && systemDailySummary.sum.toFixed(2) || 0 | numberComma }}</span>
                  </div>
                  <div class="text-content">
                    <span class="align-left">มูลค่าการประมูลสูงสุด</span>
                    <span class="align-right">{{ systemDailySummary && systemDailySummary.max && systemDailySummary.max.toFixed(2) || 0 | numberComma }}</span>
                  </div>
                  <div class="text-content">
                    <span class="align-left">มูลค่าการประมูลเฉลี่ย</span>
                    <span class="align-right">{{ systemDailySummary && systemDailySummary.avg && systemDailySummary.avg.toFixed(2) || 0 | numberComma }}</span>
                  </div>
                  <div class="text-content">
                    <span class="align-left">จำนวนรายการประมูล</span>
                    <span class="align-right">{{ systemDailySummary && systemDailySummary.count || 0 | numberComma }}</span>
                  </div>
                </div>
              </div>
              <div class="card2">
                <div class="card-content card">
                  <div class="text-content" style="margin-bottom: 10px; font-weight: 500">
                    <span>ข้อมูลของคุณ</span>
                  </div>
                  <div class="text-content">
                    <span class="align-left">เครดิตการะประมูล</span>
                    <span class="align-right">{{ user.guaranteeUsed || 0 | numberComma }}</span>
                  </div>
                  <div class="text-content">
                    <span class="align-left">เครดิตการะประมูล (คงเหลือ)</span>
                    <span class="align-right">{{ user.guaranteeRemaining || 0 | numberComma }}</span>
                  </div>
                  <div class="text-content">
                    <span class="align-left">รายการที่กำลังประมูล</span>
                    <span class="align-right">{{ userAuctionsCount }}</span>
                  </div>
                </div>
              </div>
            </div>
          </a-col>
        </a-row>
      </div>
    </base-container>
    <base-container>
      <div class="card card-search">
        <div v-if="isSearch">
          <p>กรองข้อมูล</p>
          <div v-if="searchData.fruitTypeId">
            ชนิด: <span class="cl-primary">{{ mapName(fruitTypeById) }}</span>
          </div>
          <div v-if="searchData.fruitBreedId">
            ชนิดพันธุ์: <span class="cl-primary">{{ mapName(fruitBreedById) }}</span>
          </div>
          <div v-if="searchData.provinceId">
            จังหวัด: <span class="cl-primary">{{ mapLocale(mapName(provinceById)) }}</span>
          </div>
          <div v-if="searchData.farmStandardId">
            มาตรฐาน: <span class="cl-primary">{{ mapName(farmStandardById) }}</span>
          </div>
          <div v-if="searchData.numTree">
            จำนวนต้นต่ำสุด (ต้น): <span class="cl-primary">{{ searchData.numTree | numberComma }}</span>
          </div>
          <div v-if="searchData.numArea">
            พื้นที่ปลูกต่ำสุด (ไร่): <span class="cl-primary">{{ searchData.numArea | numberComma }}</span>
          </div>
          <div v-if="searchData.dateTimeStart">
            วันที่เปิดประมูล: <span class="cl-primary">{{ searchData.dateTimeStart | dateTimeTh }}</span>
          </div>
          <div v-if="searchData.dateTimeEnd">
            วันที่ปิดประมูล: <span class="cl-primary">{{ searchData.dateTimeEnd | dateTimeTh }}</span>
          </div>
          <div v-if="searchData.priceStartMin">
            ราคาเปิดประมูล: <span class="cl-primary">{{ searchData.priceStartMin | numberComma }}</span>
          </div>
          <div v-if="searchData.priceCurrentMax">
            ราคาสูงสุด: <span class="cl-primary">{{ searchData.priceCurrentMax | numberComma }}</span>
          </div>
        </div>
        <div class="t-al-end" style="margin-top: 10px;">
          <a-button class="oa-button is-primary" @click="clearSearch">
            ล้างการค้นหา
          </a-button>
          <a-button class="oa-button is-primary" icon="search" @click="onOpenSearch">
            ค้นหาอย่างละเอียด
          </a-button>
          <advance-search
            has-farm
            has-product
            has-auction
            :search-data="searchData"
            :visible="searchVisible"
            :fruit-types="fruitTypes"
            :provinces="provinces"
            :farm-standards="farmStandards"
            @close="onCloseSearch"
            @search="onSearch"
          />
        </div>
      </div>
    </base-container>
    <section class="section-auction">
      <base-container>
        <a-tabs type="card" class="bd-rd-4px" :active-key="status" @change="onChangeTab">
          <a-tab-pane
            v-for="tab in tabs"
            :key="tab.key"
            :tab="tab.label"
            class="cl-black bg-white pd-10"
          >
            <auction-table
              v-if="status === 'OPEN' || status === 'PRE'"
              :auctions="auctions"
              :total="auctionPageData.count"
              :is-auction="status === 'OPEN'"
              :current-page="currentPage"
              :is-pre="status === 'PRE'"
              @selectAuction="onSelectAuction"
              @seeDetail="onSeeDetail"
              @changePage="page => onChangePage(page, tab.key)"
            />
            <auction-account-table
              v-else
              :auctions="auctions"
              :total="auctionPageData.count"
              :current-page="currentPage"
              :is-auction="status === 'OFFER'"
              @onRemove="onRemove"
              @onEdit="onEdit"
              @changePage="page => onChangePage(page, tab.key)"
            />
          </a-tab-pane>
        </a-tabs>
      </base-container>
    </section>
    <div class="sticky">
      <base-container class="sticky-header">
        <span>เครดิต {{ user.guaranteeRemaining || 0 | numberComma }}</span>
        <a-button
          tag="button"
          class="oa-button is-primary ant-btn ant-btn-default"
          :disabled="!user.isGardener"
          @click="$router.push('/auction/open')"
        >
          เปิดการประมูล
        </a-button>
      </base-container>
    </div>
    <div v-if="visible" class="dim" />
  </div>
</template>

<script>
import { call, get } from 'vuex-pathify'

import { mixin as VueTimers } from 'vue-timers'
import AuctionAccountTable from '../account/components/AuctionTable'
import AuctionTable from './components/AuctionTable'
// import BarChart from '~/components/auction-page/bar-chart.js'
import AdvanceSearch from '~/components/advance-search/'
import provinces from '~/configs/address/provinces.json'

export default {
  layout: 'gray-background',
  middleware: 'authenticated',
  components: {
    AuctionTable,
    // BarChart,
    AdvanceSearch,
    AuctionAccountTable
  },
  mixins: [VueTimers],
  timers: {
    startPollingDataAuctions: { time: 5000, autostart: true, repeat: true }
  },
  data () {
    return {
      searchData: {
        fruitTypeId: this.$route.query.fruitTypeId ? parseInt(this.$route.query.fruitTypeId, 10) : undefined,
        fruitBreedId: this.$route.query.fruitBreedId ? parseInt(this.$route.query.fruitBreedId, 10) : undefined,
        farmStandardId: this.$route.query.farmStandardId ? parseInt(this.$route.query.farmStandardId, 10) : undefined,
        provinceId: this.$route.query.provinceId ? parseInt(this.$route.query.provinceId, 10) : undefined,
        numArea: this.$route.query.numArea,
        numTree: this.$route.query.numTree,
        dateTimeStart: this.$route.query.dateTimeStart,
        dateTimeEnd: this.$route.query.dateTimeEnd,
        priceStartMin: this.$route.query.priceStartMin,
        priceCurrentMax: this.$route.query.priceCurrentMax
      },
      searchVisible: false,
      status: this.$route.query.status || 'OPEN',
      visible: false,
      searchModalVisible: false,
      chartData: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        dataList: [40, 20, 12, 39, 0, 40, 39, 80, 40, 20, 12, 11]
      },
      tabs: [
        {
          label: 'รายงานการประมูลขณะนี้',
          key: 'OPEN'
        },
        {
          label: 'รายการเตรียมการประมูล',
          key: 'PRE'
        },
        {
          label: 'รายการที่ติดตาม',
          key: 'FAVORITE'
        },
        {
          label: 'รายการประมูลของฉัน(พ่อค้า)',
          key: 'BID'
        },
        {
          label: 'รายการประมูลของฉัน(ชาวสวน)',
          key: 'OFFER'
        }
      ],
      // pageData: {
      //   OPEN: +this.$route.query.OPEN || 1,
      //   PRE: +this.$route.query.PRE || 1,
      //   FAVORITE: +this.$route.query.FAVORITE || 1,
      //   BID: +this.$route.query.BID || 1,
      //   OFFER: +this.$route.query.OFFER || 1
      // },
      currentPage: +this.$route.query.page || 1,
      pollingAuctions: null,
      provinces,
      isPolling: false
    }
  },
  async fetch ({ store }) {
    try {
      await Promise.all([
        store.dispatch('auction/fetchFruitTypes'),
        store.dispatch('auction/fetchFarmStandards'),
        store.dispatch('auth/fetchMe')
      ])
    } catch (e) {

    }
  },
  async mounted () {
    if (this.$nuxt.layoutName === 'gray-background') {
      await this.initiateData()
      await this.fetchUserAuctionsCount({
        auctiontransaction_bid_user_id: this.user.id })

      // this.startPollingDataAuctions()
      console.log('startPollingDataAuctions')
    }
  },
  beforeDestroy () {
    console.log('beforeDestroy')
    // this.clearPollingDataAuctions()
  },
  computed: {
    auctions: get('auction/auctions'),
    auctionPageData: get('auction/auctionPageData'),
    farms: get('auction/farms'),
    farmsPage: get('auction/farmsPage'),
    fruitTypes: get('auction/fruitTypes'),
    farmStandards: get('auction/farmStandards'),
    user: get('auth/user'),
    userAuctionsCount: get('auction/userAuctionsCount'),
    systemDailySummary: get('auction/systemDailySummary'),
    // currentPage () {
    //   return this.pageData[this.status]
    // },
    isSearch () {
      const keys = Object.keys(this.searchData)
      return keys.some(key => !!this.searchData[key])
    },
    fruitTypeById () {
      return this.fruitTypes.find(fruitType => fruitType.id === parseInt(this.searchData.fruitTypeId), 10)
    },
    fruitBreedById () {
      return this.fruitTypeById
        ? this.fruitTypeById.fruitBreeds.find(fruitBreed => fruitBreed.id === parseInt(this.searchData.fruitBreedId), 10)
        : {}
    },
    provinceById () {
      return this.provinces.find(province => province.id === this.searchData.provinceId)
    },
    farmStandardById () {
      return this.farmStandards.find(farmStandard => farmStandard.id === parseInt(this.searchData.farmStandardId), 10)
    }
  },
  methods: {
    ...call('auction', [
      'setBiddingAuction',
      'fetchAuctions',
      'fetchUserAuctionsCount',
      'fetchSystemDailySummary',
      'removeAuction'
    ]),
    async initiateData () {
      this.$wait.start('base loading')
      const search = {
        farmFruitTypeId: this.searchData.fruitTypeId,
        farmFruitBreedId: this.searchData.fruitBreedId,
        farmFarmStandardId: this.searchData.farmStandardId,
        farmProvinceId: this.searchData.provinceId,
        farmNumAreaGte: this.searchData.numArea,
        farmNumTreeGte: this.searchData.numTree,
        dateTimeStartGte: this.searchData.dateTimeStart,
        dateTimeEndLte: this.searchData.dateTimeEnd,
        priceStartGte: this.searchData.priceStartMin,
        priceCurrentGte: this.searchData.priceCurrentMax
      }
      if (this.status === 'OPEN' || this.status === 'PRE') {
        await this.fetchAuctions({ page: this.currentPage, ...search, status: this.status })
      } else if (this.status === 'OFFER') {
        await this.fetchAuctions({ page: this.currentPage, ...search, userId: this.user.id })
      } else if (this.status === 'BID') {
        await this.fetchAuctions({ page: this.currentPage, ...search, auctiontransaction_bid_user_id: this.user.id })
      } else if (this.status === 'FAVORITE') {
        await this.fetchAuctions({ page: this.currentPage, ...search, favorite_auction_bases_user_id: this.user.id })
      }
      await this.fetchSystemDailySummary()
      this.$wait.end('base loading')
    },
    mapLocale (data) {
      return (data && data.th) || '-'
    },
    mapName (value) {
      return value ? value.name : ''
    },
    toggleSticky () {
      this.visible = !this.visible
    },
    onClose () {
      this.visible = false
    },
    onOpenSearch () {
      this.searchVisible = true
    },
    onCloseSearch () {
      this.searchVisible = false
    },
    onSearch (search) {
      this.$router.push({ name: 'auction', query: { status: this.status, ...search } })
    },
    clearSearch () {
      this.searchData = {
        fruitTypeId: this.$route.query.fruitTypeId ? parseInt(this.$route.query.fruitTypeId, 10) : undefined,
        fruitBreedId: this.$route.query.fruitBreedId ? parseInt(this.$route.query.fruitBreedId, 10) : undefined,
        farmStandardId: this.$route.query.farmStandardId ? parseInt(this.$route.query.farmStandardId, 10) : undefined,
        provinceId: this.$route.query.provinceId ? parseInt(this.$route.query.provinceId, 10) : undefined,
        numArea: this.$route.query.numArea,
        numTree: this.$route.query.numTree,
        dateTimeStart: this.$route.query.dateTimeStart,
        dateTimeEnd: this.$route.query.dateTimeEnd,
        priceStartMin: this.$route.query.priceStartMin,
        priceCurrentMax: this.$route.query.priceCurrentMax
      }
      this.$router.replace({ name: 'auction', query: { status: this.status } })
    },
    async startPollingDataAuctions () {
      if (this.$nuxt.layoutName !== 'gray-background') {
        return
      }
      console.log('startPollingDataAuctions')
      const search = {
        farmFruitTypeId: this.searchData.fruitTypeId,
        farmFruitBreedId: this.searchData.fruitBreedId,
        farmFarmStandardId: this.searchData.farmStandardId,
        farmProvinceId: this.searchData.provinceId,
        farmNumAreaGte: this.searchData.numArea,
        farmNumTreeGte: this.searchData.numTree,
        dateTimeStartGte: this.searchData.dateTimeStart,
        dateTimeEndLte: this.searchData.dateTimeEnd,
        priceStartGte: this.searchData.priceStartMin,
        priceCurrentGte: this.searchData.priceCurrentMax
      }
      if (this.status === 'OPEN' || this.status === 'PRE') {
        await this.fetchAuctions({ page: this.currentPage,
          ...search,
          status: this.status })
      } else if (this.status === 'OFFER') {
        await this.fetchAuctions({ page: this.currentPage,
          ...search,
          userId: this.user.id })
      } else if (this.status === 'BID') {
        await this.fetchAuctions({ page: this.currentPage,
          ...search,
          auctiontransaction_bid_user_id: this.user.id })
      } else if (this.status === 'FAVORITE') {
        await this.fetchAuctions({ page: this.currentPage,
          ...search,
          favorite_auction_bases_user_id: this.user.id })
      }
      await this.fetchSystemDailySummary()
    },
    clearPollingDataAuctions () {
      clearInterval(this.pollingAuctions)
    },
    onSelectAuction (id) {
      this.setBiddingAuction(this.auctions.find(auction => auction.id === id))
      this.$router.push(`/auction/bidding/${id}`)
    },
    onSeeDetail (id) {
      this.setBiddingAuction(this.auctions.find(auction => auction.id === id))
      this.$router.push(`/auction/bidding/${id}`)
    },
    onChangePage (page, key) {
      const { [key]: changePageKey, ...filterQuery } = this.$route.query
      this.$router.replace({ name: 'auction', query: { status: this.status, ...filterQuery, page: page.current } })
    },
    onChangeTab (newStatus) {
      // const { status, ...filterQuery } = this.$route.query
      this.$router.replace({ name: 'auction', query: { status: newStatus } })
    },
    showConfirm (id) {
      const self = this
      this.$confirm({
        title: 'ลบการประมูล',
        content: 'คุณต้องการลบการประมูล นี้หรือไม่ ?',
        onOk () {
          return new Promise(async (resolve, reject) => {
            try {
              await self.removeAuction(id)
              self.$notification.success({
                message: 'Success',
                description: 'ทำการลบสำเร็จ'
              })
              resolve()
              await self.initiateData()
            } catch (error) {
              self.$notification.error({
                message: 'Error',
                description: 'การข้อผิดพลาด ไม่สามารถลบได้'
              })
              reject(error)
            }
          })
        },
        onCancel () {}
      })
    },
    onRemove (id) {
      this.showConfirm(id)
    },
    onEdit (id) {
      this.setBiddingAuction(this.auctions.find(auction => auction.id === id))
      this.$router.push(`/auction/open/${id}`)
    }
  }
}
</script>

<style lang="scss" scoped>
.auction {
  padding-top: 20px;
  padding-bottom: 50px;
}
.bg-white {
  background-color: white;
}
.pd-10 {
  padding: 0.625rem;
}
.card-container {
  @media only screen and (min-width: 768px) {
    max-height: 300px;
  }
}
.card {
   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
   border-radius: 4px;
}
.card-graph {
  background: white;
  height: 300px;
  padding: 17px;
}
.card-content {
  background: white;
  height: 100%;
  padding: 17px;
}
.card-search {
  background: white;
  margin-top: 20px;
  padding: 17px;
  @media only screen and (min-width: 768px) {
    padding: 19px 30px;
  }
}
.content-container {
  display: flex;
  flex-direction: column;
  height: 300px;
}
.card1 {
  flex: 1;
  margin-bottom: 16px;
}
.card2 {
  flex: 1;
}

.section-auction {
  margin-top: 20px;
  padding-bottom: 10px;
}
.sticky {
  /* height: 50px; */
  z-index: 10;
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  .sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-weight: 300;
    font-size: 14px;
    div {
      flex: 1;
    }
    div:last-child {
      text-align: right;
    }
    div:nth-child(2) {
      text-align: center;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

.ant-tabs {
  /deep/ .ant-tabs-nav-container {
    margin-left: -2px;
  }
  /deep/ .ant-tabs-bar {
    margin: 0;
    border-bottom: none;
  }
}

.ant-table-wrapper /deep/ .ant-table-thead > tr > th {
  background: white;
}

.test-red {
  background: blue;
}
.orage-text {
  color: #FF9300
}
.text-content {
  clear: both;
  > span {
    padding-bottom: 4px;
  }
  > span.align-left {
    float: left;
    color: #95989A;
  }
  > span.align-right {
    float: right;
    color: #424242;
  }
}
.sticky-content-wrapper {
  width: 100%;
}
.dim {
  background: black;
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.mg-bt-16px-xs {
  @media only screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
}
.bd-rd-4px {
  border-radius: 4px;
}
.dp-flex {
  display: flex;
}
.jtf-ct-flex-end {
  justify-content: flex-end;
}
.cl-black {
  color: rgba(0, 0, 0, 1);
}
</style>

<style lang="less">
/* Override Antd */
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  font-weight: 500;
}
.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.6rem;
  height: 100%;
}
</style>
